<section class="hero-favorite">
    <div class="container-hero-favorite">
        <!-- <picture class="farorite-hero-img">
          <source srcset="./images/favorite/desktop.jpg 1x, ./images/favorite/desktop@2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="./images/favorite/tablet.jpg 1x, ./images/favorite/tablet@2x.jpg 2x" media="(min-width: 768px)">
          <source srcset="./images/favorite/mobile@2x.jpg 2x" media="(max-width: 767px)" width="335" height="410">
          <img src="./images/favorite/mobile.jpeg" alt="dish" class="favorite-hero-image" width="335" height="410">
        </picture> -->
<!-- 
        <picture >
            <source srcset="../images/favorite/desktop.jpg 1x, ../images/favorite/desktop@2x.jpg 2x" media="(min-width: 768px)" >
                        <source srcset="../images/favorite/tablet.jpg 1x, ../images/favorite/tablet@2x.jpg 2x" media="(min-width: 768px)" >
            <source srcset="../images/favorite/mobile.jpg 1x, ../images/favorite/mobile@2x.jpg 2x" media="(max-width: 767px)">
            <img src="../images/favorite/mobile.jpg" alt="black watch" class="watch-hero-img" width="266" height="200">
        </picture>     -->
    </div>
</section>