<section class="favorites">
  <div class="container empty-storage-js">
    <div class="favotires-category-box">
      <ul class="favorites-category-list gallery js-gallery"></ul>
    </div>
    <div class="favorites-recipes-box">
      <ul class="favorites-recipes-list"></ul>
    </div>

    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
  <button id="scroll-top" class="scroll-btn-show scroll-top-hide">
    <svg width="20" heigth="20">
      <use href="./images/sprite.svg#icon-angles-up-solid"></use>
    </svg>
  </button>
</section>
