<footer>
  <div class="container footer-container">
    <a href="./index.html" class="footer__logo" aria-label="Logotype"
      ><svg class="footer__logo-icon">
        <use href="./images/sprite.svg#icon-logo-day-mob"></use>
      </svg>
    </a>
    <!-- <div class="footer__team">
      <h2>Our team:</h2>
      <div class="footer__team-chef">
        <ul class="footer__cheefs-list">
          <li><span>Team Lead:</span> Svitlana</li>
          <li><span>Scrum master:</span>Alexandra</li>
        </ul>
      </div>
      <div class="footer__team-other">
        <h3>Developers:</h3>
        <div class="tem-box">
          <ul class="footer__cooks-list">
            <li>Daria, Maksim,</li>
            <li>Marina, Igor,</li>
            <li>Alina, Andriy,</li>
            <li>Volodymyr, Mikhailo,</li>
            <li>Artem</li>
          </ul>
        </div>
      </div>
    </div> -->
    <p class="footer__text">2023 © All rights reserved.</p>
  </div>
</footer>
