<footer>
  <div class="container footer-container">
    <a href="./index.html" class="footer__logo" aria-label="Logotype"
      ><svg class="footer__logo-icon">
        <use href="./images/sprite.svg#icon-logo-day-mob"></use>
      </svg>
    </a>
    <div class="footer__team">
      <div class="footer__team-chef">
        <h2>Our team:</h2>
        <ul class="footer__cheefs-list">
          <li><span>Team Lead:</span> Svitlana</li>
          <li><span>Scrum master:</span>Alexandra</li>
        </ul>
      </div>
      <div class="footer__team-other">
        <h3>Developers:</h3>
        <ul class="footer__cooks-list">
          <li>Daria,</li>
          <li>Maksim,</li>
          <li>Marina,</li>
          <li>Igor,</li>
          <li>Alina,</li>
          <li>Andriy,</li>
          <li>Volodymyr,</li>
          <li>Mikhailo,</li>
          <li>Artem</li>
        </ul>
      </div>
    </div>
    <p class="footer__text">2023 © All rights reserved.</p>
  </div>
</footer>
