<!-- Modal window -->
<div class="rating-backdrop modal-is-hidden" data-modal-rating>
  <div class="rating-modal-container">
    <div class="rating-modal">
      <button
        type="button"
        class="close-btn js-modal-close"
        data-modal-recipe-close
      >
        <svg class="modal-icon-close" width="20" height="20">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="rating-block">
        <div class="rating-block-star">
          <h2 class="block-star-txt">Rating</h2>
          <div class="rating-star">
            <p class="rating_value">0.0</p>
            <input
              type="radio"
              id="star1"
              name="rating"
              value="1"
              class="star-input"
            />
            <label for="star1" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star2"
              name="rating"
              value="2"
              class="star-input"
            />
            <label for="star2" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star3"
              name="rating"
              value="3"
              class="star-input"
            />
            <label for="star3" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star4"
              name="rating"
              value="4"
              class="star-input"
            />
            <label for="star4" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star5"
              name="rating"
              value="5"
              class="star-input"
            />
            <label for="star5" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
          </div>
        </div>
      </div>
      <form class="form-rating-email">
        <input
          type="email"
          id="email-1"
          name="email"
          placeholder="Enter your email"
          class="rating-form-input rating-email-valid email-rating"
          required
        />
        <button type="submit" class="rating-email-btn submit-btn" disabled>
          Send
        </button>
      </form>
    </div>
  </div>
</div>
