 <!-- Modal window -->

 <button class="rating-btn modal-open" type="button" >Give a rating</button>

 
 
<div class="rating-backdrop visible modal" >
    <div id="rating-modal-js" class="rating-modal-container">
        <div class="rating-modal">
            <button class="btn-close-rating modal-close" >
                <svg class="rating-close-icon" height='24' width='24'>
                    <use class="rating-close-icon-svg" href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <div class="rating-block">
                <div class="rating-block-star">
                    <h2 class="block-star-txt">Rating</h2>
                    <div class="rating-star">
                        <p class="rating_value">0.0</p>
                        <input type="radio" id="star1" name="rating" value="1" class="star-input">
                        <label for="star1" class="star-label">
                            <svg class="star-rating" viewBox="0 0 24 24">
                                <use href="./images/sprite.svg#icon-star-modal"></use>
                            </svg>
                        </label>
                        <input type="radio" id="star2" name="rating" value="2" class="star-input">
                        <label for="star2" class="star-label">
                            <svg class="star-rating" viewBox="0 0 24 24">
                                <use href="./images/sprite.svg#icon-star-modal"></use>
                            </svg>
                        </label>
                        <input type="radio" id="star3" name="rating" value="3" class="star-input">
                        <label for="star3" class="star-label">
                            <svg class="star-rating" viewBox="0 0 24 24">
                                <use href="./images/sprite.svg#icon-star-modal"></use>
                            </svg>
                        </label>
                        <input type="radio" id="star4" name="rating" value="4" class="star-input">
                        <label for="star4" class="star-label">
                            <svg class="star-rating" viewBox="0 0 24 24">
                                <use href="./images/sprite.svg#icon-star-modal"></use>
                            </svg>
                        </label>
                        <input type="radio" id="star5" name="rating" value="5" class="star-input">
                        <label for="star5" class="star-label">
                            <svg class="star-rating" viewBox="0 0 24 24">
                                <use href="./images/sprite.svg#icon-star-modal"></use>
                            </svg>
                        </label>
                    </div>
                </div>          
            </div>
            <div class="rating-email">
                <input type="email" id="email-1" name="email" placeholder="Enter your email"
                    class="rating-form-input rating-email-valid input-js email-rating" required>
                <button type="submit" class="rating-email-btn submit-btn" disabled>Send</button>
            </div>
        </div>
    </div>
</div>






<!-- <div class="modal-rating  backdrop-rating" data-modal>
    <button class="modal-rating-close-btn close-rating-modal" data-modal-close>
     <svg class="modal-rating-close-icon"  width="24" hight="24">
         <use href="./images/sprite.svg#icon-close"></use>
     </svg>
    </button>
     <b class="modal-rating-title">Rating</b>
 <div class="modal-rating-star-box">
     <ul class="modal-rating-list">
         <li class="modal-rating-star-item">
             <button type="button" class="modal-rating-star-btn">
                 <svg class="modal-rating-star-icon" width="24" height="24">
                     <use href="./images/sprite.svg#icon-star"></use>
                 </svg>
             </button>
         </li>
         <li class="modal-rating-star-item"><button type="button" class="modal-rating-star-btn">
                 <svg class="modal-rating-star-icon" width="24" height="24">
                     <use href="./images/sprite.svg#icon-star"></use>
                 </svg>
             </button></li>
         <li class="modal-rating-star-item"><button type="button" class="modal-rating-star-btn">
                 <svg class="modal-rating-star-icon" width="24" height="24">
                     <use href="./images/sprite.svg#icon-star"></use>
                 </svg>
             </button></li>
         <li class="modal-rating-star-item"><button type="button" class="modal-rating-star-btn">
                 <svg class="modal-rating-star-icon" width="24" height="24">
                     <use href="./images/sprite.svg#icon-star"></use>
                 </svg>
             </button></li>
             <li class="modal-rating-star-item"><button type="button" class="modal-rating-star-btn">
                 <svg class="modal-rating-star-icon" width="24" height="24">
                     <use href="./images/sprite.svg#icon-star"></use>
                 </svg>
             </button></li>
     </ul>
     <form class="modal-rating-form">
         <label class="modal-rating-formfield">
         <span class="modal-rating-span">0.0</span>
         <input
         type="range"
         name="raiting-star"
         min="0"
         max="5"
         value="0"
         class="rating-range-input">
         </label>
        <label class="modal-rating-formfield">
        <input
        type="text"
        name="email"
        placeholder="Enter email"
        class="rating-email-input">
        </label>
        <button
        class="modal-rating-send-btn"
        type="submit"
        name="send"
        disabled="true">Send</button>
 
 
     </form>
 </div>
 
 </div> -->