<!-- Modal window Rating -->
<div
  class="modal-backdrop js-modal-backdrop-rating modal-is-hidden"
  data-modal="rating"
>
  >
  <div class="rating-modal-container">
    <div class="rating-modal">
      <button
        type="button"
        class="close-btn js-modal-close"
        data-close="rating"
      >
        <svg class="modal-icon-close" width="20" height="20">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="rating-block">
        <h2 class="block-star-txt">Rating</h2>
        <form class="form-rating">
          <div class="rating-star">
            <p class="rating_value">0.0</p>
            <input
              type="radio"
              id="star1"
              name="rate"
              value="1"
              class="star-input"
            />
            <label for="star1" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star2"
              name="rate"
              value="2"
              class="star-input"
            />
            <label for="star2" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star3"
              name="rate"
              value="3"
              class="star-input"
            />
            <label for="star3" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star4"
              name="rate"
              value="4"
              class="star-input"
            />
            <label for="star4" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
            <input
              type="radio"
              id="star5"
              name="rate"
              value="5"
              class="star-input"
            />
            <label for="star5" class="star-label">
              <svg class="star-rating" viewBox="0 0 24 24">
                <use href="./images/sprite.svg#icon-star-modal"></use>
              </svg>
            </label>
          </div>
          <input
            type="email"
            id="email-1"
            name="email"
            placeholder="Enter your email"
            class="rating-email-input rating-email-valid email-rating"
            required
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          />
          <button type="submit" class="rating-email-btn submit-btn" disabled>
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
