.category-container {
    max-height: 402px;
    margin-bottom: 40px;
}

.all-category-button {
    width: 176px;
    height: 50px;
    border: 1px solid var(--border-button-color);
    background-color: var(--primary-bg-theme);
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: var(--search-text-color);
    margin-bottom: 24px;
    cursor: pointer;
    padding: 14px 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-category-button:hover,
.all-category-button:focus {
    background-color: var(--accent--text-color);
    color: var(--white-text-color);
    border: 1px solid var(--accent--text-color);
}

.category-list {
    height: 198px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-y: auto;
}

.category-list::-webkit-scrollbar {
    width: 8px;
}

.category-list::-webkit-scrollbar-thumb {
    background-color: rgba(5, 5, 5, 0.18);
    border-radius: 12px;
}

.category-list::-webkit-scrollbar-track {
    background-color: var(--primary-bg-theme);
}

.category-btn {
    border: none;
    background-color: transparent;
    color: var(--categories-text-color-light-theme);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
    padding: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-btn:hover {
    color: var(--accent--text-color);
}

.category-btn.active {
    color: var(--accent--text-color);
}

.onFocus {
    color: var(--accent--text-color);
    background-color: var(--accent--text-color);
}

/* ============================= ADAPTIVE ============================= */
@media screen and (min-width: 768px) {
    .category-container {
        max-height: 496px;
        max-width: 176px;
        margin-top: 26px;
        /* /* margin-bottom: 64px; */
    }

    .all-category-button {
        margin-bottom: 30px;
    }

    .category-list {
        width: 176px;
        height: 416px;
        gap: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .category-container {
        max-height: 540px;
        max-width: 174px;
    }

    .all-category-button {
        width: 174px;
    }

    .category-list {
        width: 235px;
        gap: 24px;
    }
}