.modal-is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-is-open {
  overflow: hidden;
}

.hero-btn {
  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 12px;
  border: 1px solid #9bb537;
  padding: 10px 20px;
  gap: 10px;
  background-color: #fff;
  outline: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #9bb537;
  color: #f8f8f8;
}

/* MODAL */
.hero-modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 300ms linear, visibility 300ms linear;
  z-index: 1;
}

.hero-modal {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: var(--primary-bg-modal);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  width: 335px;
  padding-top: 28px;
}
.hero-close-btn {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  border: none;
  background: none;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: 300ms linear;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
.hero-close-btn:hover,
.hero-close-btn:focus {
  background-color: #9bb537;
}
.hero-modal-icon {
  stroke: var(--close-button-modal);
  transition: 300ms linear;
}
.hero-close-btn:hover .hero-modal-icon,
.hero-close-btn:focus .hero-modal-icon {
  stroke: var(--close-button-modal-hover);
}
.modal-title {
  margin: 0;
  color: var(--primary-text-color-light-theme);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  padding-left: 20px;
  margin-bottom: 28px;
}
.form-hero {
  padding: 0px 20px 28px 20px;
}

.input-label-container {
  display: flex;
  flex-direction: column;
}
.input-label-container:not(:last-child) {
  margin-bottom: 16px;
}
.input-label-container:last-child {
  margin-bottom: 40px;
}
.label-hero {
  color: var(--search-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  margin-bottom: 8px;
}
.input-hero {
  height: 46px;
  border-radius: 15px;
  border: var(--input-border);
  padding: 0px 10px;
  outline: transparent;
  background-color: var(--primary-bg-modal);
}
.input-hero:not(:focus):valid {
  transition: 300ms linear;
  border: 1px solid green;
}

.textarea-hero {
  display: flex;
  background-color: var(--primary-bg-modal);
  height: 100px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: var(--input-border);
  resize: none;

  padding: 10px;
  outline: transparent;
}
.form-btn {
  border-radius: 15px;
  background-color: #9bb537;
  display: block;
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  border: none;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: 300ms linear;
  outline: none;
}
.form-btn:hover,
.form-btn:focus {
  color: #050505;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.18);
}

.order-hero-container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .order-hero-container {
    min-width: 375px;
    padding: 0 20px;
  }
  .hero-modal {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .order-hero-container {
    width: 768px;
    padding: 0 32px;
  }
  .hero-modal {
    width: 440px;
  }
  .form-hero {
    padding: 0px 40px 40px 40px;
  }
  .modal-title {
    padding-left: 40px;
    margin-bottom: 40px;
  }
  .hero-close-btn {
    width: 24px;
    height: 24px;
    top: 16;
    right: 16;
  }
  .input-label-container:not(:last-child) {
    margin-bottom: 18px;
  }
  .input-hero {
    height: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .order-hero-container {
    width: 1280px;
    padding: 0 100px;
  }
}

/**FAST SCROLL */
#scroll-top {
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  z-index: 0.9;
  color: #f8f8f8;
  background-color: #9bb537;
  border: none;
  border-radius: 100%;
  box-shadow: 0 10px 9px -4px rgba(0, 0, 0, 0.15),
    0 4px 18px 0 rgba(0, 0, 0, 0.1);
  transition: 250ms linear;
}
#scroll-top:hover,
#scroll-top:focus #scroll-top::after {
  background-color: #738f26;
  box-shadow: 0 15px 9px -4px rgba(0, 0, 0, 0.15),
    0 4px 18px 0 rgba(0, 0, 0, 0.1);
  transform: rotateY(50px);
}
.scroll-top-show {
  opacity: 1;
}
.scroll-top-hide {
  opacity: 0;
}
