:root {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dishes-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.dishes-list-item {
  /* margin-bottom: 24px; */
  position: relative;
  width: 335px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 8px;
}

.heart-btn {
  /* z-index: 1000; */
  background: 0, 0;
  position: absolute;
  border: none;
  top: 16px;
  right: 16px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 30px;
  height: 30px;
}

.dishes-list-heart-icon {
  /* position: absolute; */
  /* z-index: 3; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 22px;
  height: 22px;
  opacity: 0.5;
  fill: none;
  stroke: var(--white-text-color);
}

.heart-btn.is-active-heart .dishes-list-heart-icon {
  opacity: 1;
  /* z-index: 2; */
  fill: #f8f8f8;
}

.heart-btn.is-not-active-heart .dishes-list-heart-icon {
  fill: none;
  stroke: var(--white-text-color);
}

.heart-btn .dishes-list-heart-icon {
  /* z-index: 2; */
  fill: none;
  stroke: var(--white-text-color);
}
.heart-btn:hover .dishes-list-heart-icon,
.heart-btn:focus .dishes-list-heart-icon {
  stroke: black;
  stroke-width: 10px;
  /* scale: 1.5; */
}
/* =============heart style */
.heart-wraper {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.heart-checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* // label - heart-checkbox-label */
.heart-checkbox-label .heartOff,
.heart-checkbox:checked ~ .heart-checkbox-label .heartOn {
  display: inline;
}

.heart-checkbox-label .heartOn,
.heart-checkbox:checked ~ .heart-checkbox-label .heartOff {
  display: none;
}
/* ===================== */
/* .dishes-list-heart-icon:hover,
.dishes-list-heart-icon:focus {
  stroke: black;
  stroke-width: 10px;
  transform: scale(2);
  transition: stroke var(--main-transition), transform var(--main-transition);
} */

.is-active-heart {
  opacity: 1;
  fill: #f8f8f8;
}

/* .dishes-list-image {
  position: absolute;
  z-index: -22;
  border-radius: 8px;
} */

.dishes-list-item-wrapper {
  width: 303px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.dishes-list-item-title {
  margin-bottom: 8px;
  color: var(--white-text-color);

  font-size: 14px;
  font-weight: 600;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.dishes-list-item-text {
  margin-bottom: 16px;
  max-height: 32px;
  overflow: hidden;
  color: var(--white-text-color);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16 / 12);
}

.dishes-list-item-wrapper-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-list-item-wrapper-rating-star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.dishes-list-item-wrapper-rating-text {
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
}

/* .dishes-list-item-wrapper-rating-star-list {
  display: flex;
  align-items: center;
} */

.dishes-list-item-wrapper-rating-star-5 {
  display: flex;
}
.dishes-list-star-icon {
  width: 18px;
  height: 18px;
  fill: rgba(248, 248, 248, 0.1);
}

.is-active-star {
  width: 18px;
  height: 18px;
  fill: #eea10c;
}

.see-recipe-btn {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border-color: transparent;
  background: var(--accent--text-color);
  color: var(--white-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.see-recipe-btn:hover,
.see-recipe-btn:focus {
  color: black;
}
/* ==================tablet======================== */
@media screen and (min-width: 768px) {
  .dishes-list-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 496px;
    gap: 16px;
    margin-bottom: 64px;
  }
  .dishes-list-item {
    width: 240px;
    height: 264px;
  }

  .dishes-list-item-wrapper {
    width: 208px;
  }
  /* .dishes-list-item-title {
  } */

  /* .dishes-list-item-text {
    
  } */

  /* .dishes-list-item-wrapper-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .dishes-list-item-wrapper-rating-star {
    gap: 2px;
  }
  /* .dishes-list-item-wrapper-rating-text {

  } */

  /* .dishes-list-item-wrapper-rating-star-list {
  display: flex;
  align-items: center;
} */

  /* .dishes-list-item-wrapper-rating-star-5 {
    display: flex;
  } */
  .dishes-list-star-icon {
    width: 16px;
    height: 16px;
  }

  /* .see-recipe-btn {
  } */
}

/* =====================desctop==================== */
@media screen and (min-width: 1280px) {
  .dishes-list-wrap {
    max-width: 782px;
  }

  .dishes-list-item {
    width: 250px;
    height: 287px;
  }

  .dishes-list-item-wrapper {
    width: 218px;
  }

  /* .dishes-list-item-title {
  } */

  .dishes-list-item-text {
    margin-bottom: 16px;
    max-height: 32px;
    overflow: hidden;
    color: var(--white-text-color);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(16 / 12);
  }

  /* .dishes-list-item-wrapper-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .dishes-list-item-wrapper-rating-star {
    gap: 4px;
  }

  .dishes-list-item-wrapper-rating-text {
    color: var(--white-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: calc(18 / 14);
  }

  /* .dishes-list-item-wrapper-rating-star-list {
  display: flex;
  align-items: center;
} */

  .dishes-list-item-wrapper-rating-star-5 {
    display: flex;
  }
  .dishes-list-star-icon {
    width: 18px;
    height: 18px;
  }

  .see-recipe-btn {
    padding: 8px 16px;
  }
}
