.hero-favorite {
    padding: 22px 20px 20px;
    margin: 0 auto;

}



@media screen and (min-width: 768px) {
  .hero-favorite {
    padding: 22px 32px 32px;
  }

}

@media screen and (min-width: 1280px) {
  .hero-favorite {
    padding: 17px 100px 32px;
  }

}