.footer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-top: 30px;
}

.footer__logo {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
}
.footer__logo-icon {
  width: 120px;
  height: 40px;
}
.footer__team-chef {
  text-align: center;
}
.footer__cheefs-list span {
  font-weight: bold;
}

.footer__cheefs-list {
  margin-top: 20px;
}

.footer__team-other {
  margin-top: 20px;
}

.footer__team {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  margin-bottom: 10px;
}

.footer__text {
  text-align: center;
  padding: 10px;
}
.footer__cooks-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__team {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .footer__team-other {
    display: flex;
    flex-direction: column;
  }

  .footer__cooks-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  /* .footer__cooks-list {
    width: 600px;
  } */
}
