/************************ SWIPER *************************/
.swiper {
    width: 496px;
}
.swiper-slide {
  display: flex !important;
  gap: 8px;
}

.swiper-img-wrapper {
  background-color: #050505;
  border-radius: 15px;
  height: 280px;
  background-image: url(../images/hero/bg-slider.png);
  background-position: center;
  background-size: contain;
}
.swiper-img-dish {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 25px 14px;
}
.master-class {
color: var(--hero-text-color);
text-align: center;
font-size: 10px;
font-weight: 500;
line-height: 1.4;
text-transform: uppercase;
margin-bottom: 8px;
}
.master-class-country {
  color: var(--hero-secondary-text-color);
  text-align: center;
  font-size: 8px;
  line-height: 1.5;
}
.swiper-slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.food-center-card {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
}

.swiper-img-dish{
width: 280px;
}
.big-slide-img {
width: 663px;
height: 663px;
}
.swiper-img-second-dish {
width: 222px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.cook-card {
  border-radius: 15px;
}
.swiper-img-human {
  max-width: 80px;
}

/************************ PAGINATION *****************************/


/****************************** OTHER *******************************/

.hero {
    padding-top: 42px;
    padding-bottom: 40px;
}
.hero-title {
    color: var(--primary-text-color-light-theme);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.hero-title-span {
    color: var(--accent--text-color);
    font-style: italic;
    font-weight: 400;
}
.hero-text {
    color: var(--primary-text-color-light-theme);
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 28px;
}
.hero-btn {
    border-radius: 12px;
    border: 1px solid var(--accent--text-color);
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color-light-theme);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    background-color: var(--primary-bg-light-theme);
    margin-bottom: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent--text-color);
    color: var(--white-text-color);
}


@media screen and (min-width: 375px) {
  .hero-left-part {
    max-width: 335px;
  }

}

@media screen and (min-width: 768px) {
  .swiper {
    width: 871px;
  }
  .swiper-slide {
  gap: 16px;
  }
  .swiper-img-wrapper {
  height: 442px;
  }
  .swiper-img-human {
  max-width: 137px;
}
.swiper-img-dish{
width: 351px;
}
.swiper-img-second-dish {
width: 351px;
}
.food-center-card {
  width: 262px;
  height: 262px;
  margin-bottom: 32px;
}
.master-class {
font-size: 14px;
line-height: 1.28;
text-transform: uppercase;
}
.master-class-country {
font-size: 12px;
line-height: 1.16;
}
  .hero {
    padding-top: 44px;
    padding-bottom: 40px;
  }
  .hero-title {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .hero-left-part {
    max-width: 446px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    max-width: 408px;
  }
  .hero-btn {
    padding: 14px 28px;
    border-radius: 15px;
    margin-bottom: 64px;
  }
  .hero-slider {
    width: 871px;
    height: 468px;
  }
}

@media screen and (min-width: 1280px) {


  .hero-slider {
    /* width: px; */
    overflow: hidden;
  }
  .container-hero {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .hero {
    padding-top: 47px;
    padding-bottom: 50px;
  }
} 