@import url('../../node_modules/modern-normalize/modern-normalize.css');

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'), url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter'), url('../fonts/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter-Italic.woff') format('woff'),
    url('../fonts/Inter-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  src: local('DM Sans'), url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff'),
    url('../fonts/DMSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
  /* background colors */
  --primary-bg-theme: #f8f8f8;
  --mobile-menu-bg-theme: #9bb537;

  --border-button-color: rgba(5, 5, 5, 0.2);
  --primary-bg-modal: #fff;

  /* text colors light theme*/
  --input-border: 1px solid rgba(5, 5, 5, 0.2);
  --primary-text-color-light-theme: #050505;
  --white-text-color: #f8f8f8;
  --categories-text-color-light-theme: rgba(5, 5, 5, 0.3);
  --search-text-color: rgba(5, 5, 5, 0.5);
  --recipe-text-color: rgba(5, 5, 5, 0.8);

  /* text colors dark theme*/
  --primary-text-color-dark-theme: #ffffff;
  --secondary-text-color-dark-theme: rgba(255, 255, 255, 0.3);
  --categories-text-color-dark-theme: rgba(5, 5, 5, 0.5);
  --search-text-color-dark-theme: rgba(255, 255, 255, 0.5);
  --recipe-text-color-dark-theme: rgba(255, 255, 255, 0.8);
  --close-button-modal: #050505;
  --close-button-modal-hover: #fff;
  --accent--text-color: #9bb537;
  --hero-text-color: rgba(248, 248, 248, 0.6);
  --hero-secondary-text-color: rgba(248, 248, 248, 0.2);

  color-scheme: light;
}
.dark {
  --input-border: 1px solid rgba(255, 255, 255, 0.2);
  --close-button-modal: #fff;
  --close-button-modal-hover: #050505;
  --primary-bg-modal: #050505;
  --primary-bg-theme: #161616;
  --mobile-menu-bg-theme: #050505;

  --primary-text-color-light-theme: #ffffff;
  --categories-text-color-light-theme: rgba(255, 255, 255, 0.3);

  --search-text-color: rgba(255, 255, 255, 0.5);
  --recipe-text-color: rgba(255, 255, 255, 0.8);

  --border-button-color: rgba(255, 255, 255, 0.2);

  color-scheme: dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--primary-text-color-light-theme);
  background-color: var(--primary-bg-theme);
}

.container {
  width: 100%;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .recipes-thumb-box {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
  .recipes-thumb-box {
    display: flex;
    gap: 64px;
  }
}
