#tui-pagination-container {
  height: 40px;
  margin-top: 64px;
}

#tui-pagination-container .tui-page-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgba(5, 5, 5, 0.3);
}

#tui-pagination-container .tui-page-btn:hover {
  background-color: #9bb537;
}

.tui-pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
}

#tui-pagination-container .tui-page-btn.tui-is-selected {
  background-color: #9bb537;
  border: 2px solid #9bb537;
  color: #050505;
}

.dark #tui-pagination-container .tui-page-btn.tui-is-selected {
  border: 2px solid #9bb537;
}

.dark #tui-pagination-container .tui-page-btn {
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.tui-prev,
.tui-first,
.tui-next,
.tui-last {
  background-color: #9bb537;
  margin: 0;
}

.tui-is-disabled {
  background-color: #050505;
  opacity: 0.7;
}

#tui-pagination-container .tui-is-disabled:hover {
  background-color: #050505;
  cursor: no-drop;
}

@media screen and (max-width: 767px) {
  #tui-pagination-container .tui-page-btn.tui-prev-is-ellip {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #tui-pagination-container .tui-page-btn {
    width: 44px;
    height: 44px;
  }

  #tui-pagination-container {
    height: 44px;
  }

  .tui-pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
