.popular-container {
  width: 100%;
}
.popular-title {
  width: 166px;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popular-list {
  max-height: 158px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular-link {
  display: flex;
  gap: 16px;
}
.popular-item-img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.popular-item-title {
  max-width: 252px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.popular-item-text {
  max-width: 255px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--recipe-text-color);
}
@media screen and (min-width: 768px) {
  .popular-container {
    width: 100%;
  }
  .popular-title {
    margin-bottom: 32px;
  }
  .popular-list {
    max-height: 316px;
    overflow: hidden;
  }
  .popular-item-img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
  }
  .popular-item-title {
    max-width: 120px;
  }
  .popular-item-text {
    max-width: 120px;
    overflow: hidden;
    -webkit-line-clamp: 3;

    font-size: 10px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1280px) {
  .popular-container {
    max-width: 100%;
    max-height: 424px;
  }
  .popular-title {
    max-width: 221px;
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 33px;
  }
  .popular-list {
    max-height: 316px;
    overflow: hidden;
  }
  .popular-item-img {
    width: 64px;
    height: 64px;
  }
  .popular-item-title {
    max-width: 120px;
  }
  .popular-item-text {
    max-width: 155px;

    font-size: 10px;
    line-height: 1.4;
  }
}
