.rating-modal-container {
  border-radius: 15px;
  background-color:var(--primary-bg-modal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 150ms;
}

.rating-modal {
  padding: 20px;

  width: 100%;
  max-width: 335px;
  position: relative;
  z-index: 1000;
}

.close-btn:hover {
  transform-origin: center center;
  transform: scale(1.5);
}

.block-star-txt {
  margin-bottom: 4px;
  color: var(--close-button-modal);
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 600;
  line-height: calc(18 / 14);
}

.rating_value {
  color: var(--primary-text-color-light-theme);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
}

.rating-email-input {
  width: 100%;
  min-width: 295px;
  padding: 14px 18px;
  color: var(--search-text-color);
  border: 1px solid var(--border-button-color);
  border-radius: 15px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  outline: none;
  background: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-email-input::placeholder {
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: calc(18 / 14);
  color: var(--search-text-color);
}

.rating-email-input:focus,
.rating-email-input:hover {
  border: 1px solid var(--accent--text-color);
}

.rating-email-btn {
  width: 100%;
  border-radius: 15px;
  background: var(--accent--text-color);
  color: var(--white-text-color);
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  padding: 15px;
  line-height: calc(18 / 14);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-email-btn:focus,
.rating-email-btn:hover {
  color: var(--primary-text-color-light-theme);
}

.rating-star {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.star-input {
  display: none;
}

.star-label {
  display: inline-block;
  cursor: pointer;
}

.star-rating {
  width: 24px;
  height: 24px;
  fill: var(--rating-star);
}

.star-rating.active-modal-stars {
  fill: #eea10c;
}

.rating-email-valid:not(:placeholder-shown):required:valid {
  border-color: var(--accent--text-color);
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-email-valid:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .rating-modal {
    padding: 32px;
    max-width: 424px;
  }

  .rating-email-input {
    font-size: 16px;
    line-height: calc(20 / 16);
    min-width: 360px;
    height: 48px;
    margin-bottom: 16px;
  }

  .rating-email-btn {
    padding: 14px;
  }

  .rating-email-input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .rating-star {
    margin-bottom: 32px;
  }
}
