/* .rating-container {
  width: 400px;
  height: 400px;
  border: 1px solid tomato;
  background-color: green;

  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .rating {
  font-size: 18px;
} */
/* .test-tumb {
    display: flex;
    align-items: center;
    gap: 1;
} */
/* .rating__active {
  display: flex;
  gap: 6px;
  align-items: center;
}

.rating__text {
    color: var(--primary-text-color-light-theme);
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
} */

/* .star-active {
  fill: #eea10c;

  width: 18px;
  height: 18px;
}

.star-notActive {
  fill: rgba(248, 248, 248, 0.1);

  width: 18px;
  height: 18px;
} */

/* .favorites__list-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

.rating__body {
  position: relative;
}

.rating__items {
  position: absolute;
  top: 0;
  right: 0;
}

.rating__item {
  margin: 3px;
  opacity: 0;
} */
