::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(5, 5, 5, 0.10);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(5, 5, 5, 0.3);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    margin: 200 auto;
    animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.filters-container {
    max-width: 335px;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 14px;
}

.filters-item {
    position: relative;
}

.filters-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--search-text-color);
}

.filters {
    padding: 14px 18px;
    margin-top: 8px;
    height: 46px;
    display: block;
    border-radius: 15px;
    border: var(--input-border);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--search-text-color);
    background-color: var(--primary-bg-theme);
}

.filters:hover,
.filters:focus {
    outline: none;
}

.search-query {
    width: 335px;
    padding-left: 40px;
}

.search-query::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--search-text-color);
}

.icon-search {
    fill: var(--search-text-color);
    position: absolute;
    top: 55%;
    left: 18px;
}

.icon-reset-input {
    stroke: var(--primary-text-color-light-theme);
    position: absolute;
    top: 55%;
    right: 18px;
    display: none;
    cursor: pointer;
}

.active {
    stroke: var(--accent--text-color);
}

.filters-times {
    width: 160px;
}


.filters-areas {
    width: 161px;
}

.filters-ingredients {
    width: 188px;
}

.reset-filters-btn {
    display: flex;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    margin-left: auto;
    color: var(--search-text-color);
    margin-bottom: 20px;
}

.reset-filters-btn:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.icon-reset {
    stroke: var(--accent--text-color);
}

.not-found {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    margin: 50% auto;
    max-width: 335px;
    text-align: center;
    color: var(--primary-text-color-light-theme);
    font-size: 14px;
    line-height: 1.2;
}

.custom-select {
    position: relative;
    font-family: Arial;
    border-radius: 14px;
    
}

.custom-select-times {
    width: 160px;
}

.custom-select-areas {
    width: 161px;
}

.custom-select-ingredients {
    width: 188px;
}

.custom-select-item {
    background-color: var(--primary-bg-modal);
}

.custom-select select {
    display: none;
}

.select-selected {
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    padding: 14px 18px;
    margin-top: 8px;
    height: 46px;
    display: block;
    border-radius: 14px;
    border: var(--input-border);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--search-text-color);
    background-color: var(--primary-bg-theme);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 55%;
    right: 18px;
    background-image: var(--icon-chevron);
    width: 18px;
    height: 18px;
}

.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
}

.select-items {
    position: absolute;
    background-color: var(--primary-bg-modal);
    color: var(--categories-text-color-light-theme);
    overflow: auto;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 1.2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 14px 18px;
    transform: translate(0, 0);
    transition: 400ms;
}

.custom-select-times .select-items {
    height: 124px;
}

.custom-select-areas .select-items {
    height: 161px;
}

.custom-select-ingredients .select-items {
    height: 188px;
}

.select-hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    transform: translate(0, -50%);

}

.select-items div:hover {
    cursor: pointer;
    color: var(--primary-text-color-light-theme);
}

.same-as-selected {
    color: var(--primary-text-color-light-theme);
}


@media screen and (min-width: 768px) {
    .filters-container {
        max-width: 496px;
    }

    .filters-list {
        gap: 16px;
    }

    .filters {
        height: 48px;
        font-size: 16px;
    }

    .filters-name {
        font-size: 14px;
        line-height: 1.28;
    }

    .search-query {
        width: 278px;
    }

    .search-query::placeholder {
        font-size: 16px;
    }

    .filters-times {
        width: 125px;
    }

    .filters-areas {
        width: 141px;
    }

    .filters-ingredients {
        width: 188px;
    }

    .reset-filters-btn {
        margin-bottom: 14px;
    }

    .not-found {
        gap: 32px;
        margin: 64px auto;
        max-width: 481px;
        font-size: 16px;
        line-height: 1.5;
    }

    .favorites-icon {
        width: 97px;
        height: 83px;
    }

    .custom-select-times {
        width: 125px;
    }

    .custom-select-areas {
        width: 141px;
    }


    .custom-select-areas .select-items {
        height: 141px;
    }
}

@media screen and (min-width: 1280px) {
    .filters-container {
        max-width: 780px;
    }

    .filters-list {
        flex-wrap: nowrap;
    }
}