::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(5, 5, 5, 0.10);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(5, 5, 5, 0.3);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    margin: 200 auto;
    animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.filters-container {
    max-width: 335px;
}

.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 14px;
}

.filters-item {
    position: relative;
}

.filters-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--search-text-color);
}

.filters {
    padding: 14px 18px;
    margin-top: 8px;
    height: 46px;
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--search-text-color);
    background-color: var(--primary-bg-theme);
}

.filters:hover,
.filters:focus {
    outline: none;
}

.search-query {
    width: 335px;
    padding-left: 40px;
}

.search-query::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--search-text-color);
}

.icon-search {
    fill: var(--search-text-color);
    position: absolute;
    top: 55%;
    left: 18px;
}

.icon-reset {
    stroke: #050505;
    position: absolute;
    top: 55%;
    right: 18px;
    display: none;
}

.active {
    stroke: var(--accent--text-color);
}

.filters-times {
    width: 160px;
}


.filters-areas {
    width: 161px;
}

.filters-ingredients {
    width: 188px;
}

.reset-filters-btn {
    display: flex;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    margin-left: auto;
    color: var(--search-text-color);
    margin-bottom: 20px;
}

.reset-filters-btn:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.icon-close {
    stroke: var(--accent--text-color);
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


@media screen and (min-width: 768px) {
    .filters-container {
        max-width: 496px;
    }

    .filters-list {
        gap: 16px;
    }

    .filters {
        height: 48px;
        font-size: 16px;
    }

    .filters-name {
        font-size: 14px;
        line-height: 1.28;
    }

    .search-query {
        width: 278px;
    }

    .search-query::placeholder {
        font-size: 16px;
    }

    .filters-times {
        width: 125px;
    }

    .filters-areas {
        width: 141px;
    }

    .filters-ingredients {
        width: 188px;
    }

    .reset-filters-btn {
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .filters-container {
        max-width: 780px;
    }

    .filters-list {
        flex-wrap: nowrap;
    }
}